/* Para button cursor:pointer */
*, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    counter-reset: cuenta-lista; /*Inicia contador*/
}

header {
    width: 100%;
    height: 100px; /*Ver tamaños*/
    padding-left: 11.45vw; /*Relativo al viewport para que ajuste automático al aumentar ancho */
    padding-right: 11.45vw;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 10;
}

/* Navegación desktop oculta */
header div.desktop-navigation {
    display: none;
}

main {
    margin-top: 100px; /*Alto del header. Ver tamaños*/
}

main section {
    margin-top: 5rem; /*--aumentarlo en desktop*/
}

/* Flex Secciones principales */
section.home, section.about-us, div.flex-testimony, section.simplify {
    /* background-color: darkcyan; eliminar */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem; /*--aumentarlo en desktop*/
}

.item-1, .item-2, .item-3 { /* Si no uso por separado item, reducirlo a una clase */
    width: 375px;/*--aumentarlo en desktop*/
    padding-left: 1rem ; /*Ver tamaños*/
    padding-right: 1rem ; /*Ver tamaños*/
    text-align: center; /*--left en desktop, no todos*/
}

/* Propiedades generales */
h1, h2, h3, dt {
    color: rgb(35, 44, 81);
    font-weight: 700;
}

p, dd {
    color: rgb(143, 148, 167);
    font-weight: 500;
    line-height: 1.625rem;
}

/* Sección HOME */
div.illustration-intro {
    width: 343px; /*--Ancho mobile-2rem Aumentarlo en desktop a 540px*/
    height: 310px; /*--Mantener proporción de imagen original. (345/540*485) aumentarlo en desktop a 485px*/
    background-image: url('../img/illustration-intro.png');
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    font-size: 2.95rem;
    line-height: 3.1rem;
    letter-spacing: -0.25rem; 
}

section.home p, section.about-us p {
    padding: 1.75rem 0.5rem;
}

/*Botón Get-Started*/
.button-get-started {
    background-color: rgb(242, 95, 58);
    color: #FFFFFF;
    border: none;
    font-weight: 700;
    font-size: 0.824rem;
    line-height: 1.204px;
    text-align: center;
    width: 134px;
    height: 44px;
    padding: 12.5px 30.5px;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.5s;
}

.button-get-started:hover {
    background-color: rgba(242, 95, 58, 0.6);
}

/* Sección ABOUT US */
section.about-us h2 {
    font-size: 2.25rem;
    line-height: 2.56rem;
    padding-bottom: 0.5rem;
}

/* Numeración Lista */
section.about-us dt::before {
    display: inline-block; /*Para darle propiedades de caja. Por defecto es inline*/
    content: counter(cuenta-lista, decimal-leading-zero); /*Contador con 0 delante*/
    counter-increment: cuenta-lista;
    height: 43px;
    width: 69px;
    background-color: rgb(242, 95, 58); /*--en desktop poner blanco */
    border-radius: 50px;
    margin-right: 10px;
    color: #FFFFFF;
    font-weight: 700;
    text-align: center;
    padding-top: 10px;
    position: relative; /*Para que conserve lugar de caja*/
    top: 0px; /*--En desktop agregar left: -69px + margen. Ver como alinear texto */
}

section.about-us dt {
    height: 43px;
    padding-top: -13.5px;
    text-align: left;
    letter-spacing: -0.02rem;
    background-color: rgb(255, 239, 234);
    border-radius: 50px 0px 0px 50px;
}

section.about-us dd {
padding-top: 0.8rem;
margin-bottom: 2.09rem;
letter-spacing: -0.02rem;
text-align: left;
}

/* Sección TESTIMONY */
section.testimony h2 {
    font-size: 2.45rem;
    line-height: 3.81rem;
    letter-spacing: -0.01rem;
    text-align: center;
    margin-bottom: 74px;
}

div.avatar-background {
    position: relative; /*Necesario para imagen position: absolute*/
    height: 35px;
}

img.avatar {
    width: 70px;
    height: 70px;
    position: absolute;
    bottom: -35px; /*50% alto foto*/
    left: calc(50% - 35px); /*50% ancho contenedor - 50% ancho foto*/
}

div.testimony-container {
    height: 230px;
    background-color: rgb(249, 249, 249);
}

div.testimony-container h3 {
    line-height: 1.39rem;
    letter-spacing: -0.01rem;
    padding-top: 3.5rem;
    margin-bottom: 1rem;
}

div.testimony-container p {
padding-left: 1rem;
padding-right: 1rem;
line-height: 1.566rem;
}

section.testimony div:nth-child(3) {
    text-align: center;
    margin-top: 2.8125rem;
    margin-bottom: 2.8125rem; /*--en desktop 11.25rem*/
}

/* Sección SIMPLIFY */
section.simplify {
    background-color:  rgb(242, 95, 58);
    background-image: url('../img/bg-simplify-section-mobile.svg'); /*--desktop cambiar imagen*/
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;/*--desktop 224px*/
}

section.simplify p {
    color: #FFFFFF;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -0.005rem;
}

section.simplify .button-get-started {
    background-color: #FFFFFF;
    color: rgb(242, 95, 58);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    transition: color 0.5s;
}

section.simplify .button-get-started:hover {
    color: rgba(242, 95, 58, 0.6);
}

/*----RESPONSIVE----*/
@media screen and (min-width: 376px) {
    
}